$omie-primary: #001e27;
$omie-bg-secondary: #00475d;
$omie-dark: #000D16;

$omie-bg-light: #eef8fa;
$omie-white: #ffffff;
$omie-white-secondary: #F7F7F7;
$omie-bg-gray: #EAF8F9;

$omie-blue: #00ddef;
$omie-blue-transparent: rgba(0, 226, 244, 0.8);
$omie-blue-header: #00e2f4;

$omie-red: #FF6565;
$omie-green: #69f8cd;