<footer class="pt-3 md-py-1">
    <div class="d-md-none">
        <div class="content d-flex flex-column align-items-center justify-content-center gap-3">
            <div class="logo">
                <img src="/public/assets/images/logo-iode.png" alt="Logo IODE" width="132" height="20.54">
            </div>
            <div class="links-footer d-flex flex-column gap-2 align-items-center">
                <a href="#">
                    Indique Omie
                </a>
                <a href="#">
                    Recursos do Sistema
                </a>
                <a href="#">
                    Segurança e privacidade
                </a>
            </div>
        </div>
        <div class="container-icons d-flex gap-3 justify-content-around my-3">
            <a href="https://www.facebook.com/omieoficial" target="_blank">
                <img src="/public/assets/images/ico-facebook.svg" alt="Ícone facebook" width="37" height="37">
            </a>
            <a href="https://www.instagram.com/omieoficial/" target="_blank">
                <img src="/public/assets/images/ico-instagram.svg" alt="Ícone instagram" width="37" height="37">
            </a>
            <a href="https://www.linkedin.com/company/omie/" target="_blank">
                <img src="/public/assets/images/ico-linkedin.svg" alt="Ícone linkedin" width="37" height="37">
            </a>
            <a href="https://www.youtube.com/user/omiexperience" target="_blank">
                <img src="/public/assets/images/ico-youtube.svg" alt="Ícone youtube" width="37" height="37">
            </a>
        </div>
    </div>

    <div class="d-none d-md-flex w-100 justify-content-around">
        <div class="content d-flex align-items-center justify-content-center gap-3">
            <div class="logo">
                <img src="/public/assets/images/logo-iode.png" alt="Logo IODE" width="132" height="20.54">
            </div>
        </div>
        <div class="links-footer d-flex gap-5 align-items-center">
            <a href="#">
                Indique Omie
            </a>
            <a href="#">
                Recursos do Sistema
            </a>
            <a href="#">
                Segurança e privacidade
            </a>
        </div>
        <div class="container-icons d-flex gap-3 justify-content-around my-3">
            <a href="https://www.facebook.com/omieoficial" target="_blank">
                <img src="/public/assets/images/ico-facebook.svg" alt="Ícone facebook" width="37" height="37">
            </a>
            <a href="https://www.instagram.com/omieoficial/" target="_blank">
                <img src="/public/assets/images/ico-instagram.svg" alt="Ícone instagram" width="37" height="37">
            </a>
            <a href="https://www.linkedin.com/company/omie/" target="_blank">
                <img src="/public/assets/images/ico-linkedin.svg" alt="Ícone linkedin" width="37" height="37">
            </a>
            <a href="https://www.youtube.com/user/omiexperience" target="_blank">
                <img src="/public/assets/images/ico-youtube.svg" alt="Ícone youtube" width="37" height="37">
            </a>
        </div>
    </div>
</footer>