<header class="w-100 d-flex flex-wrap justify-content-center md-gap-5 md-pt-3">
    <nav class="title d-flex gap-2 align-items-end">
        <div class="icon-title"><img src="../../assets/images/ico-live.svg" alt="Ícone live youtube" width="30"
                height="30">
        </div>
        <h2 class="fw-bold">LIVE - Fala, Economia!</h2>
    </nav>
    <p class="text-center">O que o cenário econômico tem a dizer para o empreendedor.</p><a class="fw-bold"
        href="#">CLIQUE E SE INSCREVA</a>
</header>