<section class="container home py-3 d-flex flex-column">
    <div class="header d-flex flex-column">
        <div class="w-100 position-relative pb-3 d-flex justify-content-center">
            <div class="d-flex position-absolute start-0 gap-2">
                <img class="" src="/public/assets/images/arrow.svg" alt="Ícone voltar">
                <span class="d-none d-sm-block">CONHEÇA A OMIE</span>
            </div>
            <div class="logo-omie">
                <img src="/public/assets/images/omie.svg" alt="Logo Omie">
            </div>
        </div>

        <img class="d-md-none" src="/public/assets/images/banner-mob.webp" alt="Banner gráficos na palma da mão">

        <div class="container d-none d-md-block d-flex position-relative mt-5">
            <section class="col-md-6 p-3 position-absolute">
                <img src="/public/assets/images/logo-iode.png" alt="Logo IODE" width="212" height="33">
                <h1 class="py-5">
                    Índice Omie de Desempenho Econômico das PMEs
                </h1>
                <p>
                    <strong>
                        O empreendedorismo brasileiro sob uma nova perspectiva.
                    </strong>
                </p>
                <p>
                    O empreendedorismo brasileiro sob uma nova perspectiva.
                </p>
            </section>
            <img class="" src="/public/assets/images/banner-desk.webp" alt="Banner gráficos na palma da mão">
        </div>
    </div>

    <section class="container p-3 d-md-none">
        <img src="/public/assets/images/logo-iode.png" alt="Logo IODE" width="132" height="20.54">
        <h1 class="py-5">
            Índice Omie de Desempenho Econômico das PMEs
        </h1>
        <p>
            <strong>
                O empreendedorismo brasileiro sob uma nova perspectiva.
            </strong>
        </p>
        <p>
            O empreendedorismo brasileiro sob uma nova perspectiva.
        </p>
    </section>

    <div class="call-action d-flex justify-content-center">
        <a class="border-0 transform-scale" href="/login">
            <button class="border-0 transform-scale">
                <img src="/public/assets/images/cta-acesse.svg" alt="Clique e acesse">
            </button>
        </a>
    </div>
</section>

<section class="indications d-flex flex-wrap">
    <div class="container d-md-none  d-flex flex-column gap-3">
        <div class="bg-omie-secondary p-2">
            <h2 class="pt-5">
                COMO FUNCIONA O ÍNDICE
            </h2>

            <div class="mx-2 my-4 d-flex gap-3 overflow-auto ">
                <div class="">
                    <div class=" my-3">
                        <img src="/public/assets/images/grafismo1.png" alt="Priemiro">
                    </div>
                    <div class="title my-3">
                        <h3>
                            Dados financeiros anônimos
                        </h3>
                    </div>
                    <div class="description">
                        <p>
                            Analisamos os dados das PMEs ativas no Sistema Omie com faturamento anual de até R$
                            50.000.000,
                            de maneira 100% anônima,
                            todos divididos por setores da economia. A privacidade é garantida pela Lei Geral de
                            Proteção de
                            Dados Pessoais (LGPD).
                        </p>
                    </div>
                </div>

                <div class="">
                    <div class="my-3">
                        <img src="/public/assets/images/grafismo2.png" alt="Segundo">
                    </div>
                    <div class="title my-3">
                        <h3>
                            Setorização por CNAE
                        </h3>
                    </div>
                    <div class="description">
                        <p>
                            Analisamos as atividades econômicas (setores de atuação) de cada empresa e as
                            segmentamos
                            por
                            CNAE, permitindo a
                            avaliação dos principais setores de atuação das PMEs brasileiras.
                        </p>
                    </div>
                </div>

                <div class="">
                    <div class="my-3">
                        <img src="/public/assets/images/grafismo3.png" alt="Terceiro">
                    </div>
                    <div class="title my-3">
                        <h3>
                            Remoção do efeito inflacionário
                        </h3>
                    </div>
                    <div class="description">
                        <p>
                            Corrigimos os dados das movimentações financeiras por segmento, com um cálculo
                            específico
                            para
                            retirar a inflação e
                            comparar os dados sem considerar a evolução de preços, a fim de obter o crescimento real
                            de
                            cada
                            setor.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="bg-omie-secondary p-2">
            <div class="title d-flex">
                <h3 class="my-3 fw-normal">
                    IODE-PMES
                </h3>
                <img class="ms-auto" src="/public/assets/images/ico-know-more.svg" alt="saiba mais">
            </div>

            <table class="w-100">
                <thead>
                    <tr>
                        <th scope="col-6"></th>
                        <th scope="col-6"></th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr>
                        <td scope=" fw-normal">JAN 2023</td>
                        <td class="text-end">
                            <div class="d-flex justify-content-end">
                                <div class="fs-5 omie-blue-header fw-bold">
                                    87,88
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">DEZ 2022</td>
                        <td class="text-end">
                            <div class="d-flex justify-content-end">
                                <div class="fs-6 omie-blue-header">
                                    101,18
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">MoM%</th>
                        <td>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="number omie-red">
                                    -13,1%
                                </div>
                                <img class="ms-1 h-25 " src="/public/assets/images/ico-negativo.png"
                                    alt="ícone ícone negativo">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">YTD%</td>
                        <td>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="number omie-red">
                                    -1,2%
                                </div>
                                <img class="ms-1 h-25 " src="/public/assets/images/ico-negativo.png"
                                    alt="ícone ícone negativo">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bg-omie-secondary p-2">
            <div class="title d-flex">
                <h3 class="my-3 fw-normal fs-5">
                    COMPARATIVO ANUAL
                </h3>
                <img class="ms-auto" src="/public/assets/images/ico-know-more.svg" alt="saiba mais">
            </div>

            <div class="content-about">
                <div class="d-flex align-items-center gap-3 w-75">
                    <button class="col omie-blue-header border-0 fw-bold btn-omie">2023</button>
                    <div class="col omie-blue-header fw-lighter">2022</div>
                </div>
                <div class="row">
                    <img class="" src="/public/assets/images/graficos-maio.png" alt="gráfico 2022 - 2023">
                </div>
                <div class="row">
                    <div class="col">MoM%</div>
                    <div class="col">-13,1%</div>
                </div>
            </div>
        </div>

        <div id="segment-mobile" class="bg-omie-secondary p-2">
            <div class="title d-flex my-2">
                <h3 class="my-3 fw-normal">
                    POR SEGMENTO
                </h3>
                <img class="ms-auto" src="/public/assets/images/ico-know-more.svg" alt="saiba mais">
            </div>

            <div class="header d-flex justify-content-center align-items-center gap-2">
                <div id="carouselSegment" class="carousel slide carouselSegment">
                    <div class="carousel-inner">
                        <div class="carousel-item d-flex align-items-center active gap-3">
                            <div class="icon">
                                <img width="30" src="/public/assets/images/ico-comercio.png" alt="ícone comércio">
                            </div>
                            <div class="title fw-bold">
                                Comércio
                            </div>
                        </div>
                        <div class="carousel-item d-flex align-items-center gap-3">
                            <div class="icon">
                                <img width="30" src="/public/assets/images/iode-industria.png" alt="ícone comércio">
                            </div>
                            <div class="title fw-bold">
                                Industria
                            </div>
                        </div>
                        <div class="carousel-item d-flex align-items-center  gap-3">
                            <div class="icon">
                                <img width="30" src="/public/assets/images/iode-agro.webp" alt="ícone comércio">
                            </div>
                            <div class="title fw-bold">
                                Agro
                            </div>
                        </div>
                        <div class="carousel-item d-flex align-items-center  gap-3">
                            <div class="icon">
                                <img width="30" src="/public/assets/images/iode-infra.png" alt="ícone comércio">
                            </div>
                            <div class="title fw-bold">
                                Infra
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSegment"
                        data-bs-slide="prev" aria-label="anterior">
                        <span class="carousel-control-prev-icon h-75" aria-hidden="true"></span>
                    </button>
                    <button aria-label="próximo" class="carousel-control-next" type="button"
                        data-bs-target="#carouselSegment" data-bs-slide="next">
                        <span class="carousel-control-next-icon h-75" aria-hidden="true"></span>
                    </button>

                </div>

            </div>
            <div class="btn-title d-flex py-2 w-75 mx-auto justify-content-center gap-2 mt-3 mb-4 rounded-pill">
                <img src="/public/assets/images/ico-maiorindice.png" alt="Ícone medalha de maior indíce">
                <div class="">
                    MAIOR ÍNDICE MENSAL
                </div>
            </div>

            <table class="w-75 mx-auto mt-4">
                <thead>
                    <tr>
                        <th scope="col-6"></th>
                        <th scope="col-6"></th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr>
                        <td scope=" fw-normal">JAN 2023</td>
                        <td class="text-end">
                            <div class="d-flex justify-content-end">
                                <div class="fs-5 omie-blue-header fw-bold">
                                    120,65
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">DEZ 2022</td>
                        <td class="text-end">
                            <div class="d-flex justify-content-end">
                                <div class="fs-6 omie-blue-header">
                                    130,38
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">MoM%</th>
                        <td>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="number omie-red">
                                    -7,5%
                                </div>
                                <img class="ms-1 h-25 " src="/public/assets/images/ico-negativo.png"
                                    alt="ícone ícone negativo">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">YTD%</td>
                        <td>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="number omie-red">
                                    -0,3%
                                </div>
                                <img class="ms-1 h-25 " src="/public/assets/images/ico-negativo.png"
                                    alt="ícone ícone negativo">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope=" fw-normal">JAN 2023</td>
                        <td class="text-end">
                            <div class="d-flex justify-content-end">
                                <div class="fs-5 omie-blue-header fw-bold">
                                    121,01%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">YoY%</td>
                        <td>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="number fw-bold omie-green fs-6">
                                    12,8%
                                </div>
                                <img class="ms-1 h-25 " src="/public/assets/images/ico-positivo.png"
                                    alt="ícone ícone negativo">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bg-omie-secondary p-2">
            <div class="title">
                <h3 class="my-3 fw-normal">
                    ARQUIVO MENSAL
                </h3>
                <div class="d-flex align-items-end">
                    <div class="">
                        <label for="select-month">Selecioe o mês</label>
                        <select id="select-month"
                            class="select-month text-white form-select form-select-lg my-3  shadow-none  border-0 border-bottom"
                            aria-label=".form-select-lg example">
                            <option class="bg-white text-dark" selected>Janeiro 2023</option>
                            <option class="bg-white text-dark" value="1">Fevereiro 2023</option>
                            <option class="bg-white text-dark" value="2">Março 2023</option>
                        </select>
                    </div>
                    <img src="/public/assets/images/ico-download.png" alt="ícone download" height="50">
                </div>
            </div>
        </div>
        <div class="bg-omie-secondary p-2">
            <div class="title">
                <h3 class="my-3 fw-normal">
                    DESTAQUE DO MÊS
                </h3>
                <p>
                    <strong>2023 começou cheio de desafios</strong>
                    , mas com espaço para crescimento das pequenas e médias empresas no país.
                </p>
            </div>
        </div>

        <div class="about">
            <img src="/public/assets/images/img-diferenca.webp" alt="Imagem da diferença" class="w-100">
        </div>
        <div class="about">
            <img class="w-100" src="/public/assets/images/banner-indicetrimestral.webp" alt="índice trimestral">
        </div>
    </div>

    <div class="d-none d-md-block container">
        <div class="grid-indicators gap-3">
            <div class="bg-omie-secondary indice">
                <div class="p-2 overflow-hidden">
                    <h2 class="pt-3 fs-4">
                        COMO FUNCIONA O ÍNDICE
                    </h2>
                    <div class="mx-2 d-flex gap-3 ">
                        <div class="">
                            <div class=" my-3">
                                <img class="w-50" src="/public/assets/images/grafismo1.png" alt="Priemiro">
                            </div>
                            <div class="title my-3">
                                <h3 class="fs-5">
                                    Dados financeiros anônimos
                                </h3>
                            </div>
                            <div class="description">
                                <p>
                                    Analisamos os dados das PMEs ativas no Sistema Omie com faturamento anual de
                                    até
                                    R$
                                    50.000.000,
                                    de maneira 100% anônima,
                                    todos divididos por setores da economia. A privacidade é garantida pela Lei
                                    Geral de
                                    Proteção de
                                    Dados Pessoais (LGPD).
                                </p>
                            </div>
                        </div>
                        <div class="">
                            <div class="my-3">
                                <img class="w-75" src="/public/assets/images/grafismo2.png" alt="Segundo">
                            </div>
                            <div class="title my-3">
                                <h3 class="fs-5">
                                    Setorização por CNAE
                                </h3>
                            </div>
                            <div class="description">
                                <p>
                                    Analisamos as atividades econômicas (setores de atuação) de cada empresa e
                                    as
                                    segmentamos
                                    por
                                    CNAE, permitindo a
                                    avaliação dos principais setores de atuação das PMEs brasileiras.
                                </p>
                            </div>
                        </div>
                        <div class="">
                            <div class="my-3">
                                <img class="w-75" src="/public/assets/images/grafismo3.png" alt="Terceiro">
                            </div>
                            <div class="title my-3">
                                <h3 class="fs-5">
                                    Remoção do efeito inflacionário
                                </h3>
                            </div>
                            <div class="description">
                                <p>
                                    Corrigimos os dados das movimentações financeiras por segmento, com um
                                    cálculo
                                    específico
                                    para
                                    retirar a inflação e
                                    comparar os dados sem considerar a evolução de preços, a fim de obter o
                                    crescimento real
                                    de
                                    cada
                                    setor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-omie-secondary destaque">
                <div class="p-2">
                    <div class="title">
                        <h3 class="my-3 fw-normal">
                            DESTAQUE DO MÊS
                        </h3>
                        <p>
                            <strong>2023 começou cheio de desafios</strong>
                            , mas com espaço para crescimento das pequenas e médias empresas no país.
                        </p>
                    </div>
                </div>
            </div>

            <div class="diferenca">
                <div class="">
                    <img src="/public/assets/images/diferenca-desk.webp" alt="Entenda a diferença">
                </div>
            </div>

            <div class="acesse">
                <div class="">
                    <img class="" src="/public/assets/images/banner-indicetrimestral.webp"
                        alt="Acess o índice trimestral">
                </div>
            </div>
            <div class="bg-omie-secondary iode-pmes">
                <div class="bg-omie-secondary p-2">
                    <div class="title d-flex">
                        <h3 class="my-3 fw-normal">
                            IODE-PMES
                        </h3>
                        <img class="ms-auto" src="/public/assets/images/ico-know-more.svg" alt="saiba mais">
                    </div>

                    <table class="w-75 mx-auto  mt-5 gap-3 fs-4">
                        <thead>
                            <tr>
                                <th scope="col-6"></th>
                                <th scope="col-6"></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr>
                                <td scope=" fw-normal">JAN 2023</td>
                                <td class="text-end">
                                    <div class="d-flex justify-content-end">
                                        <div class="fs-2 omie-blue-header fw-bold">
                                            87,88
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">DEZ 2022</td>
                                <td class="text-end">
                                    <div class="d-flex justify-content-end">
                                        <div class=" omie-blue-header">
                                            101,18
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">MoM%</th>
                                <td>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div class="number omie-red">
                                            -13,1%
                                        </div>
                                        <img class="ms-1 h-25 " src="/public/assets/images/ico-negativo.png"
                                            alt="ícone ícone negativo">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">YTD%</td>
                                <td>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div class="number omie-red">
                                            -1,2%
                                        </div>
                                        <img class="ms-1 h-25 " src="/public/assets/images/ico-negativo.png"
                                            alt="ícone ícone negativo">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bg-omie-secondary segmento">
                <div class="p-2 my-3">
                    <div class="title d-flex">
                        <h3 class="my-3 fw-normal">
                            POR SEGMENTO
                        </h3>
                        <img class="ms-auto" src="/public/assets/images/ico-know-more.svg" alt="saiba mais">
                    </div>
                    <div class="header d-flex justify-content-center align-items-center gap-2">
                        <div id="carouselSegmentDesk" class="carousel slide carouselSegment">
                            <div class="carousel-inner">
                                <div class="carousel-item d-flex align-items-center active gap-3">
                                    <div class="icon">
                                        <img width="30" src="/public/assets/images/ico-comercio.png"
                                            alt="ícone comércio">
                                    </div>
                                    <div class="title fw-bold">
                                        Comércio
                                    </div>
                                </div>
                                <div class="carousel-item d-flex align-items-center gap-3">
                                    <div class="icon">
                                        <img width="30" src="/public/assets/images/iode-industria.png"
                                            alt="ícone comércio">
                                    </div>
                                    <div class="title fw-bold">
                                        Industria
                                    </div>
                                </div>
                                <div class="carousel-item d-flex align-items-center  gap-3">
                                    <div class="icon">
                                        <img width="30" src="/public/assets/images/iode-agro.webp" alt="ícone comércio">
                                    </div>
                                    <div class="title fw-bold">
                                        Agro
                                    </div>
                                </div>
                                <div class="carousel-item d-flex align-items-center  gap-3">
                                    <div class="icon">
                                        <img width="30" src="/public/assets/images/iode-infra.png" alt="ícone comércio">
                                    </div>
                                    <div class="title fw-bold">
                                        Infra
                                    </div>
                                </div>

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSegmentDesk"
                                data-bs-slide="prev" aria-label="anterior">
                                <span class="carousel-control-prev-icon h-75" aria-hidden="true"></span>
                            </button>
                            <button aria-label="próximo" class="carousel-control-next" type="button"
                                data-bs-target="#carouselSegmentDesk" data-bs-slide="next">
                                <span class="carousel-control-next-icon h-75" aria-hidden="true"></span>
                            </button>

                        </div>

                    </div>
                    <div class="btn-title d-flex py-2 w-75 mx-auto justify-content-center gap-2 mt-3 mb-4 rounded-pill">
                        <img src="/public/assets/images/ico-maiorindice.png" alt="Ícone medalha de maior indíce">
                        <div class="">
                            MAIOR ÍNDICE MENSAL
                        </div>
                    </div>

                    <table class="w-75 mx-auto mt-4 fs-4">
                        <thead>
                            <tr>
                                <th scope="col-6"></th>
                                <th scope="col-6"></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr>
                                <td scope=" fw-normal">JAN 2023</td>
                                <td class="text-end">
                                    <div class="d-flex justify-content-end">
                                        <div class="fs-3 omie-blue-header fw-bold">
                                            120,65
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">DEZ 2022</td>
                                <td class="text-end">
                                    <div class="d-flex justify-content-end">
                                        <div class="fs-6 omie-blue-header">
                                            130,38
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">MoM%</th>
                                <td>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div class="number omie-red">
                                            -7,5%
                                        </div>
                                        <img class="ms-1 h-25 " src="/public/assets/images/ico-negativo.png"
                                            alt="ícone ícone negativo">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">YTD%</td>
                                <td>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div class="number omie-red">
                                            -0,3%
                                        </div>
                                        <img class="ms-1 h-25 " src="/public/assets/images/ico-negativo.png"
                                            alt="ícone ícone negativo">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope=" fw-normal">JAN 2023</td>
                                <td class="text-end">
                                    <div class="d-flex justify-content-end">
                                        <div class="fs-5 omie-blue-header fw-bold">
                                            121,01%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">YoY%</td>
                                <td>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div class="number fw-bold omie-green fs-6">
                                            12,8%
                                        </div>
                                        <img class="ms-1 h-25 " src="/public/assets/images/ico-positivo.png"
                                            alt="ícone ícone negativo">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="bg-omie-secondary arquivo-mensal p-2">
                <div class="title">
                    <h3 class="my-3 fw-normal">
                        ARQUIVO MENSAL
                    </h3>
                    <div class="d-flex align-items-end">
                        <div class="">
                            <label for="select-Desk">Selecioe o mês</label>
                            <select id="select-Desk"
                                class="select-month text-white form-select form-select-lg my-3  shadow-none  border-0 border-bottom"
                                aria-label=".form-select-lg example">
                                <option class="bg-white text-dark" selected>Janeiro 2023</option>
                                <option class="bg-white text-dark" value="1">Fevereiro 2023</option>
                                <option class="bg-white text-dark" value="2">Março 2023</option>
                            </select>
                        </div>
                        <img src="/public/assets/images/ico-download.png" alt="ícone download" height="50">
                    </div>
                </div>
            </div>

            <div class="bg-omie-secondary comparativo">
                <div class="p-2">
                    <div class="title d-flex">
                        <h3 class="my-3 fw-normal fs-5">
                            COMPARATIVO ANUAL
                        </h3>
                        <img class="ms-auto" src="/public/assets/images/ico-know-more.svg" alt="saiba mais">
                    </div>
                    <div class="content-about d-flex flex-column">
                        <div class="d-flex">
                            <div class="col">2023</div>
                            <div class="col">2022</div>
                        </div>

                        <img class="" src="/public/assets/images/graficos-maio.png" alt="gráfico 2022 - 2023">

                        <div class="d-flex">
                            <div class="col">MoM%</div>
                            <div class="col">-13,1%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="cards mt-4 md-mb-5">
    <div class="container">

        <div class="title">
            <h1 class="py-3">
                Como utilizo o índice no meu planejamento?
            </h1>
            <p>
                <strong>
                    Saiba como utilizar o IODE-PMEs e tomar as melhores decisões para o seu negócio.
                </strong>
            </p>
        </div>

        <div id="carouselCards" class="carousel slide d-flex justify-content-around d-md-none ">
            <div class="carousel-inner d-flex">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselCards" data-bs-slide-to="0" class="active "
                        aria-current="true" aria-label="Slide 1">
                    </button>
                    <button class="" type="button" data-bs-target="#carouselCards" data-bs-slide-to="1"
                        aria-label="Slide 2">
                    </button>
                    <button class="" type="button" data-bs-target="#carouselCards" data-bs-slide-to="2"
                        aria-label="Slide 3">
                    </button>
                    <button class=" " type="button" data-bs-target="#carouselCards" data-bs-slide-to="3"
                        aria-label="Slide 4">
                    </button>
                </div>
                <div class="carousel-item   p-3  card active">
                    <h2 class="mb-4">
                        Monitoramento das tendências econômicas
                    </h2>
                    <p>
                        Acompanhe as tendências econômicas do mercado como um todo, obtenha os dados referentes ao
                        seu
                        segmento de atuação e se
                        antecipe nas tomadas de decisão de sua empresa.
                    </p>
                </div>
                <div class="carousel-item p-3 card">
                    <h2 class="mb-4">
                        Acompanhamento da evolução do setor
                    </h2>
                    <p>
                        Tenha sempre em mãos a evolução do seu segmento de atuação: isso vai auxiliar você nos
                        momentos
                        em
                        que sua empresa
                        necessitar de retração ou impulsionamento.
                    </p>
                </div>
                <div class="carousel-item  p-3 card">
                    <h2 class="mb-4">
                        Impactos das datas comerciais
                    </h2>
                    <p>
                        Entenda o comportamento do mercado em datas comerciais específicas, saiba como cada uma
                        delas
                        impacta seu negócio e tome
                        decisões de acordo com as datas sazonais.
                    </p>
                </div>
                <div class="carousel-item  p-3 card">
                    <h2 class="mb-4">
                        Avaliação de desempenho de atividades específicas
                    </h2>
                    <p>
                        Acesse os dados principais de cada setor: é importante analisar a movimentação de segmentos
                        concorrentes ao seu, sejam
                        eles diretos ou indiretos. Isso vai ampliar a sua visão e ajudar você nas tomadas de
                        decisões,
                        além
                        de poder remanejar
                        forças para uma atividade específica em sua empresa.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-none d-md-flex gap-3">
        <div class="w-25  p-3  card active">
            <h2 class="fs-5 mb-4">
                Monitoramento das tendências econômicas
            </h2>
            <p>
                Acompanhe as tendências econômicas do mercado como um todo, obtenha os dados referentes ao
                seu
                segmento de atuação e se
                antecipe nas tomadas de decisão de sua empresa.
            </p>
        </div>
        <div class="w-25 p-3 card">
            <h2 class="fs-5 mb-4">
                Acompanhamento da evolução do setor
            </h2>
            <p>
                Tenha sempre em mãos a evolução do seu segmento de atuação: isso vai auxiliar você nos
                momentos
                em
                que sua empresa
                necessitar de retração ou impulsionamento.
            </p>
        </div>
        <div class="w-25 p-3 card">
            <h2 class="fs-5 mb-4">
                Impactos das datas comerciais
            </h2>
            <p>
                Entenda o comportamento do mercado em datas comerciais específicas, saiba como cada uma
                delas
                impacta seu negócio e tome
                decisões de acordo com as datas sazonais.
            </p>
        </div>
        <div class="w-25 p-3 card">
            <h2 class="fs-5 mb-4">
                Avaliação de desempenho de atividades específicas
            </h2>
            <p>
                Acesse os dados principais de cada setor: é importante analisar a movimentação de segmentos
                concorrentes ao seu, sejam
                eles diretos ou indiretos. Isso vai ampliar a sua visão e ajudar você nas tomadas de
                decisões,
                além
                de poder remanejar
                forças para uma atividade específica em sua empresa.
            </p>
        </div>
    </div>

    <div class="btn-down w-100 d-flex justify-content-center my-4">
        <button class="border-0 transform-scale bg-transparent">
            <img src="/public/assets/images/baixe-agora.png" alt="Botão baixe-agora">
        </button>
    </div>
</section>

<section class="news">
    <div class="d-none d-md-block">
        <div class="grid-news">
            <div class="div1">
                <div class="new-item d-flex flex-column justify-content-center  px-3  col-md-6 position-relative">
                    <div class="content-omie-midia position-absolute">
                        <div class="title">
                            <h1>
                                Omie na Mídia
                            </h1>
                        </div>
                        <div class="description">
                            <p>
                                <strong>
                                    O Índice Omie de Desempenho Econômico das PMEs tornou-se referência em análise
                                    econômica
                                    das
                                    Pequenas e Médias Empresas.
                                </strong>
                            </p>
                            <p>
                                Confira os canais que divulgaram o índice e o que estão falando na mídia:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="new-item p-2 bg-omie-grey text-black">
                    <div class="title py-4 h-50">
                        <img class="w-50" src="/public/assets/images/logo-exame.png" alt="logo Exame 55 ">
                    </div>
                    <div class="description d-flex align-items-end">
                        <p>
                            <strong>
                                Pequenas e médias empresas brasileiras crescem 1,9% em 2022.
                            </strong>
                        </p>
                        <img class="p-3" src="/public/assets/images/navigate.svg" alt="ícone ir para">
                    </div>
                </div>
            </div>
            <div class="div3">
                <div class="new-item p-2 bg-white text-black">
                    <div class="title py-4 h-50">
                        <img class="w-50" src="/public/assets/images/logo-exame.png" alt="logo Exame 55 ">
                    </div>
                    <div class="description d-flex align-items-end">
                        <p>
                            <strong>
                                O que esperar das pequenas e médias empresas brasileiras em 2023?
                            </strong>
                        </p>
                        <img class="p-3" src="/public/assets/images/navigate.svg" alt="ícone ir para">
                    </div>
                </div>
            </div>
            <div class="div4">
                <div class="new-item p-2 bg-white text-black">
                    <div class="title py-4 h-50">
                        <img class="w-50" src="/public/assets/images/logo-globo.png" alt="logo o Globo">
                    </div>
                    <div class="description d-flex align-items-end">
                        <p>
                            <strong>
                                Pequenos negócios faturam 1,9% mais em 2022, e enfrentam desafios para ampliar
                                ganhos
                                este
                                ano.
                            </strong>
                        </p>
                        <img class="p-3" src="/public/assets/images/navigate.svg" alt="ícone ir para">
                    </div>
                </div>
            </div>
            <div class="div5">
                <div class="new-item p-2 bg-omie-grey text-black">
                    <div class="title py-4 h-50">
                        <img class="w-50" src="/public/assets/images/logo-valorinveste.png" alt="logo da Valor Investe">
                    </div>
                    <div class="description d-flex align-items-end">
                        <p>
                            <strong>
                                Veja em quais setores as pequenas empresas fecharam 2022 com mais dinheiro em caixa.
                            </strong>
                        </p>
                        <img class="p-3" src="/public/assets/images/navigate.svg" alt="ícone ir para">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-md-none">
        <div class="new-item d-flex flex-column justify-content-center  px-3  col-md-6 position-relative">
            <div class="content-omie-midia position-absolute">
                <div class="title">
                    <h1>
                        Omie na Mídia
                    </h1>
                </div>
                <div class="description">
                    <p>
                        <strong>
                            O Índice Omie de Desempenho Econômico das PMEs tornou-se referência em análise
                            econômica
                            das
                            Pequenas e Médias Empresas.
                        </strong>
                    </p>
                    <p>
                        Confira os canais que divulgaram o índice e o que estão falando na mídia:
                    </p>
                </div>
            </div>
        </div>
        <div class="new-item p-2 bg-omie-grey text-black">
            <div class="title py-4 h-50">
                <img class="w-50" src="/public/assets/images/logo-exame.png" alt="logo Exame 55 ">
            </div>
            <div class="description d-flex align-items-end">
                <p>
                    <strong>
                        Pequenas e médias empresas brasileiras crescem 1,9% em 2022.
                    </strong>
                </p>
                <img class="p-3" src="/public/assets/images/navigate.svg" alt="ícone ir para">
            </div>
        </div>
        <div class="new-item p-2 bg-white">
            <div class="title py-4 h-50">
                <img class="w-50" src="/public/assets/images/logo-exame.png" alt="logo Exame 55 ">
            </div>
            <div class="description d-flex align-items-end">
                <p>
                    <strong>
                        O que esperar das pequenas e médias empresas brasileiras em 2023?
                    </strong>
                </p>
                <img class="p-3" src="/public/assets/images/navigate.svg" alt="ícone ir para">
            </div>
        </div>
        <div class="new-item p-2 bg-omie-grey text-black">
            <div class="title py-4 h-50">
                <img class="w-50" src="/public/assets/images/logo-globo.png" alt="logo o Globo">
            </div>
            <div class="description d-flex align-items-end">
                <p>
                    <strong>
                        Pequenos negócios faturam 1,9% mais em 2022, e enfrentam desafios para ampliar
                        ganhos
                        este
                        ano.
                    </strong>
                </p>
                <img class="p-3" src="/public/assets/images/navigate.svg" alt="ícone ir para">
            </div>
        </div>
        <div class="new-item p-2 bg-white text-black">
            <div class="title py-4 h-50">
                <img class="w-50" src="/public/assets/images/logo-valorinveste.png" alt="logo da Valor Investe">
            </div>
            <div class="description d-flex align-items-end">
                <p>
                    <strong>
                        Veja em quais setores as pequenas empresas fecharam 2022 com mais dinheiro em caixa.
                    </strong>
                </p>
                <img class="p-3" src="/public/assets/images/navigate.svg" alt="ícone ir para">
            </div>
        </div>
    </div>

</section>

<section class="experts-word text-center pt-3">
    <div class="container">
        <h1>
            Palavra do especialista
        </h1>
        <p>
            Que tal conferir os pontos mais interessantes abordados em nosso índice pelo especialista? Assim, você
            já
            saberá o que
            encontrar quando abri-lo! 
            Trouxemos pequenos recortes para você começar. Aproveite!
        </p>

        <div id="carouselExampleIndicators" class="container carousel slide d-md-none" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-midia" src="/public/assets/images/espec-lancamento.webp"
                        alt="Capa do vídeo: Conheça o índice Omie de Desempenho Econômico das">
                </div>
                <div class="carousel-item">
                    <img class="img-midia" src="/public/assets/images/espec-lancamento-2.webp"
                        alt="Capa do vídeo: Saiba como aperfeiçoar o planejamento dos seus negócios com o IODE-PMEs">
                </div>
                <div class="carousel-item">
                    <img class="img-midia" src="/public/assets/images/espec-lancamento-3.webp"
                        alt="Capa do vídeo: Mercado em alta x mercado em retração: entenda o comportamento da economia setorial com o IODE-PMEs">
                </div>
            </div>
            <button aria-label="anterior" class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button aria-label="próximo" class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class=" w-100 d-none d-md-flex justify-content-center align-items-center  gap-1 w-75 mt-5">
            <div class="">
                <img class="img-midia w-75" src="/public/assets/images/espec-lancamento.webp"
                    alt="Capa do vídeo: Conheça o índice Omie de Desempenho Econômico das">
            </div>
            <div class="">
                <img class="img-midia w-75" src="/public/assets/images/espec-lancamento-2.webp"
                    alt="Capa do vídeo: Saiba como aperfeiçoar o planejamento dos seus negócios com o IODE-PMEs">
            </div>
            <div class="">
                <img class="img-midia w-75" src="/public/assets/images/espec-lancamento-3.webp"
                    alt="Capa do vídeo: Mercado em alta x mercado em retração: entenda o comportamento da economia setorial com o IODE-PMEs">
            </div>
        </div>
    </div>
</section>


<section class="container last-session d-flex flex-wrap">
    <div class="banner">
        <img class="w-100" src="/public/assets/images/banner-academy.webp" alt="Banner Academy">
    </div>
    <div class="session-content container col-md-6">
        <h2 class="fw-bold pt-3 pb-2">
            Economia: Inteligência na tomada de decisão
        </h2>
        <p class="pb-3">
            <strong>
                Entenda o papel da macro e da microeconomia no Brasil e tome decisões assertivas para o seu negócio.
            </strong>
        </p>
        <p class="pb-3">
            Conheça o curso da Omie.Academy, comandado por Felipe Beraldi, economista e especialista em Dados
            Estratégicos
            Mercadológicos e idealizador do IODE-PMEs, que vai te ajudar com dicas de utilização dos dados do
            índice.
        </p>
        <p class="pb-3">
            A Omie.Academy é uma comunidade de empreendedores que cria um espaço seguro para compartilharem suas
            dores,
            aprendizados, erros e, assim, construírem, juntos, o caminho para o sucesso.
        </p>
        <p class="pb-3">
            Faça parte de um seleto grupo de empreendedores que está disposto a crescer e potencializar seus
            negócios,
            dividindo
            conhecimentos e ajudando outras empresas, além de discutir e aprender com outros gestores.
        </p>
    </div>
</section>